<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">

  <script src="\js\jquery.js"></script>
  <script src="\js\bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="\css\bootstrap.css">
  <link rel="stylesheet" href="\css\styles.css">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">DAILY BLOG</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks"><span class="navbar-toggler-icon"></span></button>

      <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav mr-auto justify-content-end">
          <!-- 6 -->
          <li id="home" class="nav-item"><a class="nav-link" href="Home">HOME</a></li>
          <li id="about" class="nav-item"><a class="nav-link" href="About">ABOUT</a></li>
          <li id="contact" class="nav-item"><a class="nav-link" href="Contact">CONTACT</a></li>
        </ul>
      </div>
    </div>

  </div>
  </nav>

  <body>
    <div class="container">
