.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
    /*position: absolute; było*/
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
.post-href{
  color:#1abc9c;
}
.post-href:hover{
  color:#08aa8a;
}
/***** COMPOSE *****/
/*label*/
.lbl{
    margin: 10px 0 10px 0;
    display: block;
}
/*input*/
.input-text{
    width: 100%;
}
/*txt-area*/
textarea {
    resize: vertical;
  }
/*button*/
.btn-color{
  margin: 30px 0 0 0;
  background-color: #1abc9c;
  color:white;
}
.btn-color:hover{
  background-color: #09ab8b;
  color:white;
}
